<div class="conainer-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-body shadow">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Verificar correo electrónico</h4>
                        </div>
                        <div class="mb-3">
                            <p class="text-muted">El enlace se ha enviado a tu correo electrónico</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>